                
                    <div class="card__header">
                        <div class="card__img">
                            <img src="assets/images/{{ host_img }}" alt="{{ img_title }}">
                        </div>
                        <div class="card__host"> 
                            <div class="host__row">
                                <div class="host__names">
                                    <span class="host__rank">{{ host_rank }}</span>
                                    <span class="host__name">{{ host_name }}</span>
                                </div>    
                                <div class="host__rating">
                                    <img src="assets/icons/Star.svg">
                                    <img src="assets/icons/Star.svg">
                                    <img src="assets/icons/Star.svg">
                                    <img src="assets/icons/Star.svg">
                                    <img src="assets/icons/Star-non.svg">
                                </div>
                            </div>
                            <div class="host__score">
                                <span>{{ score_name }}:</span>
                                <span>{{ score }}/10</span>
                            </div>
                            <a href="#">{{ score_link }}</a>
                        </div>
                    </div>
                    <div class="card__button">
                        <button>
                            {% if btn_img %}
                            <img src="assets/icons/{{ btn_img }}">
                            {% endif %}
                            <h3>{{ btn_text }}</h3>
                        </button>
                    </div>
                    <div class="card__stat">
                        <div class="stat__block">
                            <div class="stat__label">
                                <img class="stat__icon" src="assets/icons/value=uptime.svg">
                                <span class="stat__name">UPTIME:</span>
                            </div>
                            <span class="stat__value">{{ uptime }}</span>
                        </div>
                        <div class="stat__block">
                            <div class="stat__label">
                                <img class="stat__icon" src="assets/icons/value=Productivity.svg">
                                <span class="stat__name">WYDAJNOŚĆ:</span>
                            </div>
                            <span class="stat__value">{{ productivity }}</span>
                        </div>
                        <div class="stat__block">
                            <div class="stat__label">
                                <img class="stat__icon" src="assets/icons/value=price.svg">
                                <span class="stat__name">CENA (ROK):</span>
                            </div>
                            <span class="stat__value">{{ price }}</span>
                        </div>
                        <div class="stat__block">
                            <div class="stat__label">
                                <img class="stat__icon" src="assets/icons/value=support.svg">
                                <span class="stat__name">SUPPORT:</span>
                            </div>
                            <span class="stat__value">{{ support }}</span>
                        </div>
                        <div class="stat__block">
                            <div class="stat__label">
                                <img class="stat__icon" src="assets/icons/value=offer.svg">
                                <span class="stat__name">OFERTA:</span>
                            </div>
                            <span class="stat__value">{{ offer }}</span>
                        </div>
                        <div class="stat__block">
                            <div class="stat__label">
                                <img class="stat__icon" src="assets/icons/value=Secure.svg">
                                <span class="stat__name">BEZPIECZEŃSTWO:</span>
                            </div>
                            <span class="stat__value">{{ secure }}</span>
                        </div>
                    </div>
                    